<ion-header>
  <ion-toolbar>
    <ion-title>
      Añadir Ubicación de Fuga de Agua
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Ubicación</ion-label>
      <ion-input type="text" [(ngModel)]="ubicacion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="descripcion" rows="5"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="guardarUbicacion()">Enviar reporte de fuga</ion-button>
</ion-content>
