.container {
  background-color: #00bcd4; /* Celeste */
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #fff; /* Texto en blanco */
}

p {
  font-size: 16px;
  color: #fff; /* Texto en blanco */
}

ion-button {
  margin-top: 20px;
  --background: #26a69a; /* Turquesa */
  --color: #fff; /* Texto en blanco */
}

ion-content {
  --background-color: #E0F2F1; /* Color de fondo personalizado */
}

ion-card.custom-card {
  --background-color: #B2DFDB; /* Color de fondo personalizado para las tarjetas */
}