<ion-header>
  <ion-toolbar>
    <ion-title>
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm" class="fade-animation">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="name" required [(ngModel)]="formData.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" required [(ngModel)]="formData.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" name="password" required [(ngModel)]="formData.password"></ion-input>
    </ion-item>

    
    <ion-button expand="full" type="submit" [disabled]="!registerForm.valid">Registrar</ion-button>
    <ion-button expand="full" (click)="limpiarCampos()">Limpiar campos</ion-button>
  </form>
</ion-content>